<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <input class="search-bar" type="text" placeholder="Search...">
  <a class="create-issue" href="./createIssue.html">
    <button>Create Issue</button>
  </a>
  <div class="list" id="list"></div>
  <div id="base-item" hidden>
    <h1 class="title"></h1>
    <p class="description"></p>
    <button class="delete-button">🗑️</button>
    <button class="edit-button">✏️</button>
    <form id="edit-form" hidden>
      <input type="text" placeholder="title">
      <input type="text" placeholder="description">
      <button type="submit" hidden></button>
    </form>
  </div>
</body>
</html>