<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form id="project-form">
    <input type="text" id="name" required>
    <button type="submit">Create</button>
  </form>
  <ul id="project-list">

  </ul>
  <li id="base-el" hidden>
    <a class="link" href=""><h1 class="name"></h1></a>
    <button class="delete-button">🗑️</button>
    <button class="edit-button">✏️</button>
    <form class="edit-form" hidden>
      <input type="text" placeholder="title" class="edit-name">
      <button type="submit" hidden></button>
    </form>
  </li>
</body>
</html>