<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <input class="search-bar" type="text" placeholder="Search...">
  
  <a id="create-issue">
    <button>Create Issue</button>
  </a>
  
  <fieldset>
    <legend><h1>Issue</h1></legend>

    <ul id="list">
      
    </ul>
  </fieldset>

  <li id="base-item" hidden>
    <a class="link"><h2 class="title"></h2></a>
    <button class="delete-button">🗑️</button>
    <button class="edit-button">✏️</button>
    <form class="edit-form" hidden>
      <input type="text" placeholder="title" class="edit-title">
      <input type="text" placeholder="description" class="edit-desc">
      <button type="submit" hidden></button>
    </form>
  </li>
</body>
</html>